# python buildstuffs and other ephemera
.cache/
*.egg-info/
build/*
dist/*
MANIFEST
*.pyc
.venv

# IDE
.idea/

# docs / jupyter
doc/_build/
doc/notebooks/data/*/
.ipynb_checkpoints/
./notebooks/*.ipynb
./notebooks/data/*/

# coverage / pytest-cov
.coverage
coverage.xml

# docs
doc/data/*/
doc/data/*csv
doc/data/*.tar.gz
doc/data/*.zip
doc/api/generated/
