name: CI
on:
  push:
    branches:
      - main
  pull_request:
  schedule:
      - cron: "0 0 * * 1"

jobs:
  ci:
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.11, 3.12, 3.13]
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: run tests
        run: |
          pip install nox
          pip install '.[test]'
          nox --session coverage
      - name: Upload coverage reports to Codecov with GitHub Action
        uses: codecov/codecov-action@v5
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
